body {
    font-family: "Comfortaa", cursive;
    background-color: #272b30;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: "Nerko One", cursive;
}

header img {
    height: 150px;
    background-position: center;
    object-fit: cover;
}

.card {
    background-color: #272b30;
    border: 1px solid #000;
    filter: grayscale(70%);
    transition: all 400ms;
    cursor: pointer;
    border-radius: 5px;
}

/*.card{
    
    filter: brightness(0.5) saturate(0%); */




/* width: 80%;
    margin: auto; 
}*/
.card:hover {
    filter: grayscale(0);
    filter: none;
    transform: scale(1.03);
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

nav .container {
    background-color: #3a497b !important;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #09c !important;
    transition: all 500ms;
}

p {
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

/* loader styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .4);
    /*padding-top:150px;*/
    padding-top: 20px;
    z-index: 99999;
}

.loader div {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}